.schedule-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.schedule-page h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.calendar-container {
  display: inline-block;
  margin: 0 auto 20px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.react-calendar {
  margin: 0 auto;
}

.react-calendar__navigation {
  background-color: #505357;
  color: white;
  border-radius: 10px 10px 0 0;
}

.react-calendar__navigation button {
  background: none;
  color: white;
  min-width: 44px;
}

.react-calendar__month-view__weekdays {
  background-color: #f4f4f4;
  color: #333;
}

.react-calendar__tile {
  color: #000;
}

.react-calendar__tile--now {
  background: #ffeb3b;
  color: #000;
}

.react-calendar__tile--active {
  background: #4caf50;
  color: white;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.highlight {
  background-color: #ff9800;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.teams-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
}

.teams-table th,
.teams-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.teams-table th {
  background-color: #f4f4f4;
  color: #333;
  text-align: left;
}

.teams-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.teams-table tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .teams-table th:nth-child(2),
  .teams-table th:nth-child(3),
  .teams-table th:nth-child(4),
  .teams-table th:nth-child(5),
  .teams-table th:nth-child(6),
  .teams-table td:nth-child(2),
  .teams-table td:nth-child(3),
  .teams-table td:nth-child(4),
  .teams-table td:nth-child(5),
  .teams-table td:nth-child(6) {
    display: none;
  }

  .teams-table th,
  .teams-table td {
    width: 50%;
  }
}
