header {
  background-color: #3f4142;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

header .logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

header .club_logo {
  height: 130px;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

header .user-info {
  display: flex;
  align-items: center;
}

header .user-info span {
  margin-right: 10px;
}

header .user-info button {
  padding: 0.5rem 1rem;
  background-color: #050505;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

header .user-info button:hover {
  background-color: #4c4c4d;
}

.login-container {
  max-width: 600px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-top: 40px;
  order: 1;
}

.logo-img {
  max-width: 100%;
  height: auto;
}

.form-content {
  flex: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #171818;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #424344;
}

.error-message {
  color: red;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .login-container {
    flex-direction: column;
  }

  .img-container {
    flex: none;
    padding: 0;
    order: 2;
  }

  .form-content {
    flex: none;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header .logo,
  header nav,
  header .user-info {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul li {
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  header .logo a {
    font-size: 1rem;
  }

  header nav ul li a {
    font-size: 0.9rem;
  }

  header .user-info span {
    font-size: 0.8rem;
  }

  header .user-info button {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

nav.nav {
  display: flex;
}

nav.open {
  display: block;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle {
    display: block;
  }

  nav.nav {
    display: none;
  }

  nav.open {
    display: block;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
}
