header {
  background-color: #505357;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

header .logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

header .club_logo {
  height: 130px;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #ccc;
}

header .profile {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.profile-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #505357;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.profile-menu button {
  padding: 0.5rem 1rem;
  background-color: #0c0c0c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.profile-menu button:hover {
  background-color: #3b3e3f;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

nav.nav {
  display: flex;
}

nav.open {
  display: block;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle {
    display: block;
  }

  nav.nav {
    display: none;
    width: 100%;
  }

  nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  header .user-info {
    display: none;
  }
}

@media (max-width: 480px) {
  header .logo a {
    font-size: 1rem;
  }

  header nav ul li a {
    font-size: 0.9rem;
  }

  header .user-info span {
    font-size: 0.8rem;
  }

  header .user-info button {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
}
